.public-nav li{
    font-weight: bold;
    font-family: Bitter,Georgia,"Times New Roman",Times,serif;
    font-size: 1.2em;
    margin-left: 8px;
    padding-left: 8px;
}
.line{
    margin-top: -20px;
}

* styling the footer section*/


.post_holder{
    background-color: #f5f5f5;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    overflow: hidden;
}
.post_header{
    font-weight: bold;
    font-family: Bitter,Georgia,"Times New Roman",Times,serif;
    color: #005E90;
}
.post_header:hover{
    color:#0090DB;
}
.description{
    color: #868686;
    font-weight: bold;
    margin-top: -2px;
}
.posting{
    font-size: 1.2em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: justify;
}
/*========comment section=========*/
.comments-section{
    background-color: #F6F7F9;
}
.comment-info{
    color: #365978;
    font-family: sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    padding-top: 10px;
}
.comment-details{
    padding-bottom: 10px;
    font-size: 1.2em;
    margin-top: -2px;
}